<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.miui.tsmclient">

    <queries>
        <package android:name="com.google.android.apps.walletnfcrel" />
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_wallet_shortcut"
        android:label="HyperOS Wallet Shortcut"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <!-- Normal launcher/setup screen. -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          HyperOS targets package com.miui.tsmclient with this action when the
          double-press power shortcut is configured as "mi_pay".
        -->
        <activity
            android:name=".ShortcutActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:showWhenLocked="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.miui.intent.action.DOUBLE_CLICK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>
</manifest>
